/* color: #FFFFFF; основной цвет; цвет шрифта главного блока */
/* color: #212121; основной цвет текста */
/* color: #757575; цвет текста обзаца */
/* color: #2196F3;цвет акцента */

/* варианты тегов
* - универсальный селектор
тег
ID
класс
атрибут
потомка
ребенка
соседа
*/

/* section title
color: #FFFFFF */

:root {
  --primary-text-color: #212121;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --primari-bg-color: #757575;
  /* пример color: var(--primary-text-color); */
}
/* герой */
.hero-seсtion,
.footer {
  background-color: #2F303A;
  color: #ffffff
}

body { 
  color: #212121;
  background-color: #ffffff;
}

/* подключение шрифтов */

body { 
  font-family: "Roboto", sans-serif;
}

/* site nav */
.site-nav .link.current {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

/* убраны точки перед текстом */
ul {
  list-style: none;
}

/* цвет ссылок */
.link-current,
.logo-web {
  color: #2196f3;
}

/* основной цвет txt */
.link,
.logo-Studio {
  color: #212121;
}

/* смена цвета при навидении на ссылку */
.header .link:hover,
.header .link:focus {
  color: #2196f3;
}

/* убраны подчеркивания с текста */
a {
  text-decoration: none;
}

/* кнопка */
.button-hero {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: inherit;
}

/* преимущества */
.feature-list .title {
  color: #212121;
}
p {
  color: #757575;
}

/* --------СТИЛИ ДЛЯ ПОРТФОЛИО ----------*/

/* font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em; */